# ================== Model & Data ==================
weights/
input/
out/
runs/
*.pt
*.onnx
*.bin
*.xml
*.mp4
*.avi
*.mov
*.jpg
*.png
*.jpeg
*.csv
*.zip

# ================== Python cache & logs ==================
__pycache__/
*.pyc
*.pyo
*.pkl
*.log

# ================== Virtual environments ==================
venv/
env/
.venv/
venv_tf12/
.venv_tf12/
Note.md
